##  Assignment No-1

### Task-1

#### Task-1.1

In [2]:
print("This is my first program to this Jupyter Notebook!!")

This is my first program to this Jupyter Notebook!!

#### Task-1.2

In [10]:
lis =[]
for i in range(2000 , 3201):
    if i%7==0 and i%5!=0:
        lis.append(str(i))

result = ",".join(lis)
print( result )

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

#### Task-1.3

In [11]:
First_Name = input("Please Enter your First Name: ")[::-1]
Last_Name = input("Please Enter your Last Name: ")[::-1]
print(First_Name , Last_Name)

Please Enter your First Name: Vaibhav
Please Enter your Last Name: Khandelwal
vahbiaV lawlednahK

#### Task-1.4

In [14]:
diameter=12
V=(4/3)*(22/7)*(diameter/2)**3
print(V)

905.142857142857

### Task-2

#### Task-2.1

In [16]:
inp = input("Enter the data: ")
res = inp.split(',')
print(res)

Enter the data: 2,3,4,5,6,7
['2', '3', '4', '5', '6', '7']

#### Task-2.2

In [19]:
for i in range(2):
    if(i==0):
        for j in range(1, 6):
            print('* '*j)
    if i==1:
        for j in range(4,0,-1):
            print('* '*j)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

#### Task-2.3

In [20]:
input_word = input()
print(input_word[::-1])

AcadGild
dliGdacA

#### Task-2.4

In [55]:
st = "WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens"
new_lis = st.split(',')
s1 = ",".join(new_lis[:2])+","
s2 = " "*5 + new_lis[2]+","+"!"
s3 = " "*11 + ",".join(new_lis[3:6])
s4 = " "*12 + (new_lis[-1])[20:]
print(s1)
print(s2)
print(s3[:-33])
print(s4)

WE, THE PEOPLE OF INDIA,
      having solemnly resolved to constitute India into a SOVEREIGN,!
            SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
             and to secure to all its citizens